<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/stylesheets/primer.css">
    <link rel="stylesheet" href="assets/stylesheets/octicons.css">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <title>Docker platform releases</title>
  </head>

  <body>
    <header class="page-header">
      <div class="container">
        <div class="columns">
          <div class="one-fifth column logo">
            <object type="image/svg+xml" data="/assets/images/mini-logo.svg"></object>
          </div>
          <div class="four-fifth column">
            <h1>Docker platform releases</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="columns">
        <div class="blankslate spacious">
          <span class="mega-octicon octicon-squirrel"></span>
          <h3>Fail</h3>
        </div>
      </div>
    </div>
  </body>
</html>
