<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/primer.css">
    <link rel="stylesheet" href="/assets/css/octicons.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Docker platform releases</title>
  </head>

  <body>
    <header class="page-header">
      <div class="container">
        <div class="columns">
          <div class="one-fifth column logo">
            <object type="image/svg+xml" data="/assets/images/mini-logo.svg"></object>
          </div>
          <div class="four-fifth column">
            <h1>Docker Core Releases</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      {{ yield }}
    </div>
  </body>
</html>
